.login-body {
    margin: 0 auto;
    width: 33%;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    border-radius: 12px;
    border: 2px solid black;
}

.login-header {
    background-color: #111;
    color: white;
    text-align: center;
}

.credentials {
    margin: 0 auto;
    padding: 12px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.credentials form {
    display: flex;
    flex-direction: column;
}